.Input{
    height: 8vh;
    width: 80vw;
    border-color: #261a2d;
    align-items: center;
    justify-content: center;
}
.MessegeBox{
    height: 100%;
    width:  80vw;;

     border-radius: 13px;
     border-color:#261a2d;
     background-color: #271f2b;
}